#read {
    background: linear-gradient(to top, #020617, #0f172a);
    min-height: 100vh;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog.read-blog {
    max-width: 600px;
    margin: 80px 0px;
}

.blog-text {
    color: #94a3b8;
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.7em;
}

@media(max-width: 450px) {
    #read {
        padding: 0px 45px;
    }
}